html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}





// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}