// Colors
$black-1: hsl(0, 0%, 7%);
$gray-1: hsl(0, 0%, 80%);
$white-1: hsl(0, 0%, 100%);
$blue-1: hsl(214, 82%, 50%);
$warning: hsl(49, 83%, 60%);
$success: hsl(120, 55%, 52%);
$danger: hsl(0, 72%, 59%);
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// Font Sizes
$font-sm: rem(14);
$font-md: rem(18);
$font-lg: rem(24);
